.search-form {
  display: flex;
  gap: 10px;
  max-width: 344px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;

  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);

  &__input {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.8;

  }

  &__btn {
    flex-shrink: 0;
    display: flex;
    padding: 11px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 24px;
    background: var(--accent);
  }

  
  @include mobile-xl() {
    display: none;
 }
}
